@use '../variables' as *;
@use '../typography' as *;

.Header {
    position: absolute;
    width: 550px;
    height: 91px;
    left: 0px;
    top: 0px;
    background-color: $DarkGunmetal;
    .ProjectTitle {
        position: absolute;
        width: 259px;
        height: 21px;
        left: 264px;
        top: 37px;
        color: $AzureishWhite;
    }
    .ReactFactsTitle {
        position: absolute;
        width: 122.39px;
        height: 22.25px;
        left: 61.61px;
        top: 33px;
        color: $SkyBlue;
    }
    .ReactLogo {
        position: absolute;
        width: 28.93px;
        height: 28.93px;
        left: 26px;
        top: 31px;
    }
}