@use '/src/scss/_partials/variables' as *;
@use '/src/scss/_partials/typography' as *;


.Section {
    position: absolute;
    width: 34.375rem;
    height: 28.6875rem;
    left: 0rem;
    top: 5.6875rem;
    background-color: $Gunmetal;
    .FunFactsTitle {
        position: absolute;
        width: 26.5rem;
        height: 2.5625rem;
        left: 1.6875rem;
        top: 3.5625rem;
        color: $White;
    }
    .BulletPoints {
        position: absolute;
        width: .6006rem;
        height: 10.0381rem;
        left: 3.1875rem;
        top: 9.25rem;
        .BulletPoint {
            background-color: $SkyBlue;
            border-radius: 50%;
            position: absolute;
            width: .6006rem;
            height: .6006rem;
        }
    }
    .FunFactsList {
        position: absolute;
        width: 24.375rem;
        height: 11.875rem;
        left: 4.625rem;
        top: 9rem;
        list-style-type: none;
        z-index: 1;
        .FunFactsListItem {
            width: 24.375rem;
            left: 4.625rem;
            color: $White;
        }
    }
    .ReactBackgroundLogo {
        position: absolute;
        height: 16.4375rem;
        left: 26.125rem;
        top: 6.6875rem;
    }    
}

@for $i from 1 to 5 {
    .BulletPoint-#{$i} { top: calc(10.0381rem / 5) * $i; }
}

@for $i from 2 through 5 {
    .FunFactsListItem-#{$i} { margin-top: .8125rem ;}
}