@use '/src/scss/_partials/variables' as *;
@use '/src/scss/_partials/typography' as *;


.Section {
    position: absolute;
    width: 550px;
    height: 459px;
    left: 0px;
    top: 91px;
    background-color: $Gunmetal;
    .FunFactsTitle {
        position: absolute;
        width: 424px;
        height: 41px;
        left: 27px;
        top: 57px;
        color: $White;
    }
    .BulletPoints {
        position: absolute;
        width: 9.61px;
        height: 160.61px;
        left: 51px;
        top: 148px;
        .BulletPoint {
            background-color: $SkyBlue;
            border-radius: 50%;
            position: absolute;
            width: 9.61px;
            height: 9.61px;
        }
    }
    .FunFactsList {
        position: absolute;
        width: 390px;
        height: 190px;
        left: 74px;
        top: 144px;
        list-style-type: none;
        z-index: 1;
        .FunFactsListItem {
            width: 390px;
            left: 74px;
            color: $White;
        }
    }
    .ReactBackgroundLogo {
        position: absolute;
        height: 263px;
        left: 418px;
        top: 107px;
    }    
}

@for $i from 1 to 5 {
    .BulletPoint-#{$i} { top: calc(160.61px / 5) * $i; }
}

@for $i from 2 through 5 {
    .FunFactsListItem-#{$i} { margin-top: 13px ;}
}