/****** COLORS ******/

$DarkGunmetal: #21222a;
$Gunmetal: #282d35;
$Onyx: #33373e;
$AzureishWhite: #deebf8;
$SkyBlue: #61dafb;
$VividSkyBlue: #00d8ff;
$White: #fff;

/****** FONT STYLES ******/

$LetterSpacing: -0.05em;